name: Build and Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        include:
          - os: windows-latest
            runtime: win-x64
            extension: .exe
          - os: ubuntu-latest
            runtime: linux-x64
            extension: ""
          - os: macos-latest
            runtime: osx-x64
            extension: ""

    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 8.0.x

      - name: Publish
        run: dotnet publish SniplandLauncher/SniplandLauncher.csproj -c Release -r ${{ matrix.runtime }} --self-contained true /p:PublishSingleFile=true /p:IncludeNativeLibrariesForSelfExtract=true -o ./publish

      - name: Upload Artifact
        uses: actions/upload-artifact@v3
        with:
          name: SniplandLauncher-${{ matrix.runtime }}
          path: ./publish/SniplandLauncher${{ matrix.extension }}

  create_release:
    needs: release
    runs-on: ubuntu-latest
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v3

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            SniplandLauncher-win-x64/SniplandLauncher.exe
            SniplandLauncher-linux-x64/SniplandLauncher
            SniplandLauncher-osx-x64/SniplandLauncher
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
